@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@media screen and (max-width:480px){
    body{
        flex-direction: column;
    }
    .cabecalho{
        width: 100%;
    }
    .imgpt1{
        
    }
}

body{
    display: flex;
}
.cabecalho{
    width: 41.87325rem;
    height: 100vh;
    flex-shrink: 0;
    background: #353945;
}
.nav{
    display: flex;
    width: 11.125rem;
    height: 4.125rem;
    padding: 3rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    flex-shrink: 0;
}
.cabecalho__conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    width: 29.5625rem;
    height: 3.3125rem;
    flex-shrink: 0;
    color: #FFF;
    display: flex;
    align-items: center;
    font-family: "DM Sans";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem; /* 120% */
    letter-spacing: -0.025rem;
}
.paragrafopt1{
    margin-top: 2rem;
    color: #FFF;
    width: 26.25rem;
    margin-right: 3rem;
    font-family: "Inter";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem; /* 166.667% */
}
.imgpt1{
    width: 14rem;
    height: 12rem;
    flex-shrink: 0;
    margin-top: 9rem;
}
.container{
    display: flex;
    align-items: center;
}
.login__container{
    padding: 10rem 15rem;
}
    
.titulopt2{
    margin-bottom: 2rem;
    align-self: stretch;
    color: #27272E;
    font-family: Inter;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 136.023%; /* 2.38038rem */
}
.paragrafopt2{
    margin-bottom: 2rem;
    align-self: stretch;
    color: #27272E;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 162.023%; /* 1.62025rem */
}
.formulario{
    display: flex;
    width: 26.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.875rem;
}
.label{
    margin-bottom: .3rem;
    display: flex;
    flex-direction: column;
    color: #425466;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.input{
    border: none;
    margin-bottom: .5rem;
    display: flex;
    height: 0.875rem;
    width: 22rem;
    padding: 0.875rem 3.125rem 1rem 1rem;
    align-items: center;
    align-self: stretch;
    border-radius: 0.375rem;
    background: #EDF2F7;
}
.ESS{
    margin-left: 20rem;
    color: #777E90;
    text-align: right;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Inter";
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.75rem;
    text-decoration: none;
}
input::placeholder{
    color: #7A828A;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.9375rem; /* 100% */
}
.botaopt2{
    display: flex;
    justify-content: center;
}
.link__botao{
    text-decoration: none;
}
.botao__login{
    cursor: pointer;
    text-decoration: none;
    margin-top: 2rem;
    display: flex;
    width: 26.5rem;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    border: none;
    border-radius: 5.625rem;
    background: #141416;
    color: #FCFCFD;
    text-align: center;
    font-family: "DM Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem; /* 100% */
}
.loginoutrascontas{
    color: #718096;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem; /* 150% */
    letter-spacing: -0.005rem;
}

